{% extends "layout.html" %}
{% load static %}

{% block import-css %}
<style>
.page-header-title > h1 {
	font-weight: 400;
	color: #fff;
	text-align: center;

}
</style>
{% endblock import-css %}
{% block content %}
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12 col-sm-12">
						<div class="page-header-title align-items-center ">
							<h1 >NORMALISASI BAHASA DEWI</h1>

						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
</div>
{% endblock content %}
