{% extends "layout.html" %}
{% load static %}

{% block import-css %}
<style>
	.page-header-title>h1 {
		font-weight: 400;
		color: #fff;
		text-align: center;

	}
</style>
{% endblock import-css %}
{% block content %}
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12 col-sm-12">
						<div class="page-header-title align-items-center text-center">
							<h1>Normalisasi Teks Bahasa Sumbawa Menggunakan </br>
								Damerau Lavenshtein Distance
							</h1>
							<img class="img-fluid" style="margin: 20px;" src="{% static '/img/logo-uin.png' %}" alt="">
							<p style="font-size: 28px; margin-bottom: 0px;margin-top: 10px;"><strong>DEWI
									SARTIKA</strong> (11451201704)</p>
							<P style="font-size: 28px; margin: 0;">UNIVERSITAS ISLAM NEGERI SULTAN SYARIF KASIM RIAU
							</P>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}