{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Normalisasi Damerau Levenshtein</title>
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <link rel="icon" href="{% static 'dist/assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- data tables css -->
    <link rel="stylesheet" href="{% static 'dist/assets/css/plugins/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/spinjs/spin.css' %}">

    <link href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}" rel="stylesheet">
    

    <link rel="stylesheet" href="{% static 'dist/assets/css/style.css' %}">
    <style>
    .page-header h4 {
        font-weight: 400;
        color: #fff;
    }
    .swal2-container {
        z-index: 10000;
    }
    </style>
    {% block import-css %}

    {% endblock import-css %}

</head>
<body class="">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <nav class="pcoded-navbar menu-light ">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div " >

                

                <ul class="nav pcoded-inner-navbar ">
                   <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>

                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'kosakata/index' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Kamus</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'data_uji/index' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Data Uji</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cleaning/index' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Cleaning</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'normalisasi/index' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Normalisasi Data Uji</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'normalisasi/perhitungan' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-circle"></i>
                        </span>
                        <span class="pcoded-mtext">Normalisasi Input</span>
                    </a>
                </li>
            </ul>



        </div>
    </div>
</nav>
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">


    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        <a href="#" class="b-brand">
            Norm

        </a>
        <a href="#" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    


</header>



{% block content %}

{% endblock content %}

    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="{% static 'dist/assets/images/browser/chrome.png' %}" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="{% static 'dist/assets/images/browser/firefox.png' %}" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="{% static 'dist/assets/images/browser/opera.png' %}" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="{% static 'dist/assets/images/browser/safari.png' %}" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="{% static 'dist/assets/images/browser/ie.png' %}" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->

    <script src="{% static 'dist/assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/ripple.js' %}"></script>
    <script src="{% static 'dist/assets/js/pcoded.min.js' %}"></script>

    <!-- datatable Js -->
    <script src="{% static 'dist/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'plugins/spinjs/spin.umd.js' %}"></script>

    <script>

    function showSpinner() {
     // Initialize
     if ($('.kintone-spinner').length == 0) {
         // Create elements for the spinner and the background of the spinner
         var spin_div = $('<div id ="kintone-spin" class="kintone-spinner"></div>');
         var spin_bg_div = $('<div id ="kintone-spin-bg" class="kintone-spinner"></div>');

         // Append spinner to the body
         $(document.body).append(spin_div, spin_bg_div);

         // Set a style for the spinner
         $(spin_div).css({
           'position': 'fixed',
           'top': '50%',
           'left': '50%',
           'z-index': '5510',
           'padding': '26px',
           '-moz-border-radius': '4px',
           '-webkit-border-radius': '4px',
           'border-radius': '4px'
       });
         $(spin_bg_div).css({
           'position': 'fixed',
           'top': '0px',
           'left': '0px',
           'z-index': '5500',
           'width': '100%',
           'height': '200%',
           'background-color': '#000',
           'opacity': '0.5',
           'filter': 'alpha(opacity=50)',
           '-ms-filter': "alpha(opacity=50)"
       });

         // Set options for the spinner
         var opts = {
           'color': '#fff'
       };

         // Create the spinner
         new Spin.Spinner(opts).spin(document.getElementById('kintone-spin'));
     }

     // Display the spinner
     $('.kintone-spinner').show();
 }

 // Function to hide the spinner
 function hideSpinner() {
     // Hide the spinner
     $('.kintone-spinner').hide();
 }
 </script>
 {% block import-js %}

 {% endblock import-js %}

</body>

</html>
